nav {
  background-color: #1A2F2A;
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 75px;
  list-style-type: none;
  text-align: center;
}
#brand {
  float: left;
}
.nav-link {
  color: #AABEDE;
  font-size: 13px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'Monaco', monospace;
  border: solid 2px #AABEDE;
  padding: 8px;
  border-radius: 0.8em;
  background-color: rgba(69,69,69,0.42);
  box-shadow: 1.5px 1.5px 2.5px black;
  transition: .75s;
}
.nav-link:hover {
  color: lightgreen;
  border-color: lightgreen;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(69,99,99,0.42);
  box-shadow: 2.5px 2.5px 4px rgba(69,69,69,0.62);
}
#brand .nav-link {
  color: lightgreen;
  border-color: lightgreen;
  font-size: 16px;
  transition: .75s;
}
#brand .nav-link:hover {
  color: #AABEDE;
  border-color: #AABEDE;
}

body {
  background: linear-gradient(-90deg, rgba(170,190,180,1)60%, rgba(30,50,40,0.75));
  overflow-x: hidden;
}
h1 {
  font-size: 65px;
}
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 10, 5, 0.9)), url(https://images.unsplash.com/photo-1652971887223-9abd845f940c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1923&q=80) center 15% no-repeat fixed;
  filter: opacity(85%);
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 2em;
  background-size: cover;
}
.header-tag {
  cursor: default;
  text-align: center;
  color: #4A7F7A;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-family: 'Console', monospace;
  transition: 1.2s ease;
}
h3.header-tag {
  margin-top: -30px;
  font-size: 22px;
  text-shadow: -1px 0 rgba(215,245,215,0.6), 0 1px rgba(215,245,215,0.6), 1px 0 rgba(215,245,215,0.6), 0 -1px rgba(215,245,215,0.6), -2px 0 rgba(115,145,115,0.8), 0 2px rgba(115,145,115,0.8), 2px 0 rgba(115,145,115,0.8), 0 -2px rgba(115,145,115,0.8);
}
.header-tag:hover {
  color: white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green, -2px 0 6px white, 0 2px 6px white, 2px 0 6px white, 0 -2px 6px white;
  transform: scale(1.02, 1.02);
}

#about-picture {
  width: 25vw;
  float: left;
}
#profile-pic {
  height: 320px;
  width: 320px;
  border-radius: 3rem;
  box-shadow: 6px 6px 8px #546464;
  transition: 1s linear;
}
#profile-pic:hover {
  transform: scale(1.06, 1.06);
}
h2 {
  color: #4A7F7A;
  filter: drop-shadow(2px 2px 1px #1A2F2A);
  font-family: 'Monaco', monospace;
}
.main {
  cursor: default;
  text-align: center;
  color: black;
}
#about {
  margin-top: 50px;
  display: inline-block;
}
#about-content {
  width: 35vw;
  float: left;
  line-height: 1.4;
}

#skill-table {
  cursor: default;
  display: inline-block;
  margin: 4px;
  margin-top: 40px;
  text-align: center;
}
td, th {
  padding: 10px;
  border: solid;
  border-color: white;
  border-radius: 0.7rem;
  height: 25px;
  width: 300px;
  transition: 1.4s ease;
}
th {
  background-color: #1A2F2A;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
td {
  background-color: #4A7F7A;
  color: #ddd;
  font-size: 15px;
  font-style: italic;
  text-transform: capitalize;
}
th:hover {
  transform: scale(1.2, 1.2);
}
td:hover {
  transform: rotate3d(0.5, 0, 0, 360deg) ;
}

#contact {
  cursor: pointer;
  margin-top: 60px;
  margin-left: 25vw;
  display: inline-block;
}
#contact-content {
  width: 35vw;
  float: left;
}
#details {
  display: none;
}
#details p {
  border: solid 2px #4A7F7A;
  border-radius: 2em;
  background-color: #1A2F2A;
  color: white;
  padding: 5px 2px;
  margin-left: 38%;
  width: 220px;
  text-align: center;
}
#details a {
  color: white;
  font-style: italic;
}

footer {
  cursor: default;
  position: absolute;
  bottom: -88%;
  left: 88%;
  width: 25vw;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
